<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Main Window</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/models/slick/slick.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/models/slick/slick-theme.css">
        <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <nav id="nav-head">
            <div class="nav-in">
                <div class="brand">
                    <span><a href="/">Toshkent viloyati turizm rasmiy veb sahifasi</a></span>
                </div>
                <div class="lang">
                    <a href="" class="a-hover">Uz</a> |
                    <a href="">Ru</a> |
                    <a href="">En</a>
                </div>
                <div class="navigate">
                    <ul>
                        <li>
                            <a href="#hududlar" id="hudud">Hududlar</a>
                            <ol id="area">
                                <li><a href="">Angeren sh</a></li>
                                <li><a href="">Olmaliq sh</a></li>
                                <li><a href="">Nurafshon sh</a></li>
                                <li><a href="">Bekobod sh</a></li>
                            </ol>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#news">Yangiliklar</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" id="space">Diqqatga sazavor joylar</a>
                            <ol id="spaces">
                                <li><a href="">Ziyorotgohlar</a></li>
                                <li><a href="">Masjidlar</a></li>
                                <li><a href="">Kafe va restaranlar</a></li>
                            </ol>
                        </li>   
                    </ul>

                </div>
                <div class="contact">
                    <span id="phone-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                    </span>
                    <span id="phone-number">(0367) <b>1695125</b> </span>
                </div>
            </div>
        </nav>
        


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../static/Js/models/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>    
    <script>
        $(document).ready(function(){
            $('#images-modal').hide();
            $('#slideshow-btn').click(function(){
                $('#images-modal').slideDown(1000);
            })
            $('#close-slideshow').click(function(){
                $('#images-modal').slideUp(1000);
            })
            $('#news-row').slick({
                dots: true,
                autoplay: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplaySpeed: 2000,
                prevArrow: '<button type="button" data-role="none" class="slick-prev slick-arrow">Previous</button>',
                nextArrow: '<button type="button" data-role="none" class="slick-next slick-arrow">Next</button>',
                responsive: [
                    {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                    },
                    {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                    },
                    {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                    }
                ]
            });
            $('#areas').slick({
                dots: true,
                autoplay: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplaySpeed: 3000,
                prevArrow: '<button type="button" data-role="none" class="slick-prev slick-arrow">Previous</button>',
                nextArrow: '<button type="button" data-role="none" class="slick-next slick-arrow">Next</button>',
                responsive: [
                    {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                    },
                    {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                    },
                    {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                    }
                ]
            });
            $('#places_card').slick({
                dots: true,
                autoplay: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplaySpeed: 4000,
                prevArrow: '<button type="button" data-role="none" class="slick-prev slick-arrow">Previous</button>',
                nextArrow: '<button type="button" data-role="none" class="slick-next slick-arrow">Next</button>',
                responsive: [
                    {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                    },
                    {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                    },
                    {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                    }
                ]
            });
            $(window).scroll(function(){
                if (document.documentElement.scrollTop > 10) {
                    $('#nav-head').addClass('scrol-fixed');
                } else {
                    $('#nav-head').removeClass('scrol-fixed');
                }
            })
            $("#myCarousel").carousel();
            let area = $('#hudud');
            let area2 = $('#area');
            let space = $('#space');
            let spaces2 = $('#spaces');
            area.on('mouseenter', function(){
                area2.slideDown(500);
                spaces2.slideUp(500);
            });
            space.on('mouseenter', function(){
                area2.slideUp(500);
                spaces2.slideDown(500);
            });
            $(window).click(function(){
                if (area2.is(':visible') || spaces2.is(':visible')) {
                    area2.slideUp(500);
                    spaces2.slideUp(500);
                }
            });
            let poll_form = $('.poll_question_form .vote');
            let poll_answer = $('.poll_answers').hide();
            poll_form.click(function(){
                poll_form.css('diplay', 'none');
                poll_answer.show(200);
            })
        })
    </script>
    </body>
</html>